.Sidebar
{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0;
    z-index: 2;
    background-color: white;
    padding: 0;
}

.show-sidebar .Sidebar
{
    width: 400px;
    padding: 10px 20px;
    border-left: grey 1px solid;
}

.environment-block, .instance-block
{
    padding-top: 20px;
    color: grey;
    font-size: 14px;
}

.instance-header
{
    color: black;
}

.environment-revision
{
    color: black;
    font-size: 16px;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}